.slick-next,
.slick-prev {
  background: black !important;
  color: black !important;
  border-radius: 20% !important;
  width: 40px !important;
  height: 40px !important;
  opacity: 0.4;
}

.slick-next:hover {
  opacity: 1;
}
.slick-prev:hover {
  opacity: 1;
}

.slick-next {
  right: 15px !important;
}

.slick-prev {
  left: 15px !important;
  z-index: 1 !important;
}

.slick-next::before {
  content: ">" !important;
  font-family: "Poppins" !important;
}

.slick-prev::before {
  content: "<" !important;
  font-family: "Poppins" !important;
}

// Ant Rate Star
.ant-rate-star {
  margin-right: 2px !important;
}

// Portal modal
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  padding: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 300px;
  background: #fff;
  z-index: 1000;
}

.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
  cursor: pointer;
  margin: 3px;
}
